

.form-container {
    width: 35rem;
    height: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid rgb(132, 126, 113);
    border-radius: 15px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
  }
  
  .bg{
    background-color:  	white ;
    height: 100rem;
  }
  
  .marg{
    margin-top: 0.2vh;
    margin-bottom: 1vh;
  }
  
  .text{
    margin-top: 4vh;
    margin-bottom: -10rem;
    color: black;
    width: 8rem;
  }
  
  .text_password{
    margin-bottom: -2rem;
    font-size: 12px;
    margin-left: -14rem;
    margin-top: 1rem;
    color: #128C7E;
  }
  
  .input_box{
    color: black;
    border-radius: 15px;
    border: 1px solid #128C7E; 
    font-size: 1rem; 
    padding: 0.7rem; 
    width: 100%; 
  }
  
  .input_box:focus {
    border-color: #128C7E;
    border-width: 1px;
  }

  
  .button {
    background-color: #25D366;
    font-size: 1rem;
    padding: 0.6rem;
    margin-top: -10rem;
    border-radius: 7px;
    text-align: center;
    width: 5rem;
    color: rgb(255, 255, 255);
    margin-top: 4rem; 
    border-color: #075E54;
    border-radius: 5px;
    border-width: 1px;
  }
  
  .text_title{
    text-align: center;
    margin-top: -0.5rem;
    font-family:impact;
    color: rgb(182, 164, 136);
    font-size: 35px;
  }
  .text_titlereg{
    text-align: center;
    margin-top: -0.5rem;
    
    color:  	black;
    font-size: 30px;
  }
  .text_sub{
    text-align: center;
    margin-top: 0.2rem;
    font-family:impact;
    color: rgb(145, 131, 109);
    font-size: 15px;
    margin-bottom: 1rem;
    
  }
  
  .text_subreg{
    text-align: center;
    margin-top: 0.2rem;
    font-family:impact;
    color: rgb(145, 131, 109);
    font-size: 15px;
    margin-bottom: 1rem;
    
  }
  
  .form-containerbook {
    width: 20rem;
    height: 35rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(205, 203, 201);
    border: 1px solid rgb(132, 126, 113);
    border-radius: 15px;
    display: flex; 
    
    margin-top: 3rem;
    align-items: left; 
    text-align: left;
  }
  
  .to_register{
    margin-top: 6vh;
    margin-bottom: -5vh;
    text-align: center;
    color: #84735d;
    
  }
  .to_login{
    margin-top: 7vh;
    margin-bottom: -5vh;
    text-align: center;
    margin-left: -3rem;
    font-size: 16px;
    
    color: black;
    
  }
  .to_login_link{
    margin-top: 7vh;
    margin-top: 1rem;
    margin-left: 13rem;
    text-align: center;
    color: black;
    text-decoration: underline;
    font-size: 16px;
   
  }
  .to_register_link{
    margin-top: -10rem;
    margin-bottom: -5vh;
    text-align: center;
    color: #84735d;
    text-decoration: underline;
  }

  .password-wrapper {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .toggle-password:hover {
    color: #007bff; /* warna biru ketika hover */
  }
  
  .visibility{
    margin-left: 18rem;
    margin-top: -40px;
  }


.toastregisterlogosuccess{
  background-color: rgb(35, 176, 99);
  width: 1.7rem;
  border-radius: 0.2rem;
}
.toastregistertextsuccess{
  color: black;
  font-size: 20px;
  margin-left: 2.5rem;
  margin-top: -2rem;
  margin-bottom: -1rem;
}

.toastregisterclose{
  color: black;
  font-size: 20px;
  margin-left: 105rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
}