a {
    text-decoration: none;
  }
  
  
  .bgscrl{
      background-color: #272829;
      height: 6rem;
      margin-top: -2rem;
      margin-bottom: 2rem;
      border-radius: 0.5rem;
    }
  
    .bgsccrl{
      background-color: rgb(213, 201, 183) ;
      height: 100%;
    }
  
    .activerl {
      display: inline-block;
      margin-top: -3rem;
      width: 11rem;
      height: 3rem;
      text-align: center;
      margin-right: -55.8rem;
      margin-left: 56.8rem;
      font-size: 15px;
      color: black;
      border-top-left-radius: 0.5rem;
      border-color: #876804;
      border-width: 1px;
      border-top-right-radius: 0.5rem;
      padding: 1rem;
      background-color: #c6a32f;
      
    }
  
    .notactiverl {
      display: inline-block;
      margin-top: -3rem;
      width: 11rem;
      height: 3rem;
      text-align: center;
      margin-right: -55.8rem;
      margin-left: 56.8rem;
      font-size: 15px;
      color: black;
      border-top-left-radius: 0.5rem;
      border-color: #876804;
      border-width: 1px;
      border-top-right-radius: 0.5rem;
      padding: 1rem;
      background-color: #ffd446;
        
    }
  
  .profiletextrl{
      font-size: 25px;
      margin-left: 1rem;
      margin-top: 0.6rem;
      padding-top: 0.5rem;
      color: white;
      margin-bottom: -1rem;
  }
  
  .profiletextpassrl{
      font-size: 25px;
      margin-left: 1rem;
      margin-top: 1rem;
      padding-top: 0.5rem;
      color: white;
      margin-bottom: -1.15rem;
      
  
  }